<div class="modal fade" id="authentication-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="user-sign">
				<h4 class="user-sign-title">{{$root.authenticationModalPurpose === 'signup' ? '회원가입': '로그인'}}</h4>
				<div class="user-sign-inputs">
					<form name="user-sign-form" ng-submit="">

						<div class="form-group">
							<label for="user-sign-email">이메일</label>
							<input type="email" class="form-control" id="user-sign-email">
						</div>

						<div class="form-group">
							<label for="user-sign-password">비밀번호</label>
							<input type="email" class="form-control" id="user-sign-password">
						</div>

						<div class="form-group" ng-if="$root.authenticationModalPurpose === 'signup'">
							<label for="user-sign-name">이름</label>
							<input type="email" class="form-control" id="user-sign-name">
						</div>

						<div class="form-group" ng-if="$root.authenticationModalPurpose === 'signup'">
							<label for="user-sign-job-sort">직업종류</label>
							<input type="email" class="form-control" id="user-sign-job-sort">
						</div>

						<div class="form-group" ng-if="$root.authenticationModalPurpose === 'signup'">
							<label for="user-sign-job">직업</label>
							<input type="email" class="form-control" id="user-sign-job">
						</div>
						<button type="submit" class="btn btn-success">{{$root.authenticationModalPurpose === 'signup' ? '회원가입': '로그인'}}</button>
					</form>
				</div>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




