@import 'mixin';

// ===========
// 네비게이션
// ===========

.nav {
  background-color: black;
  border-bottom: 1px solid black;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  color: white;
  display: inline-block;
  font-size: 28px;
  font-weight: 300;
  padding: 12px;
  text-decoration: none;
}

.logo:hover {
  color: #888;
  text-decoration: none;
}

.menu {
  float: right;
  margin-right: 20px;
}

.menu-list {
  @include list-style-none();

  li {
    float: left;
  }

  a {
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 20px;
    text-decoration: none;
  }

  a:hover {
    color: #888;
  }

  button {
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 20px;
    text-decoration: none;
  }

  button:hover {
    color: #888;
  }
}

