@charset "UTF-8";
.input-group-addon {
  border: none;
  border-radius: 0; }

.dropdown button {
  background-color: #f5f5f5;
  border: none;
  border-radius: 0; }

.dropdown-menu {
  border: 1px solid #f5f5f5;
  border-radius: 0;
  padding: 0;
  margin: 0; }
  .dropdown-menu .divider {
    margin: 0; }
  .dropdown-menu li button {
    background: white;
    height: 100%;
    padding: 7px 0;
    width: 100%; }
  .dropdown-menu li button:hover {
    background-color: #f5f5f5; }

.nav {
  background-color: black;
  border-bottom: 1px solid black;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }

.logo {
  color: white;
  display: inline-block;
  font-size: 28px;
  font-weight: 300;
  padding: 12px;
  text-decoration: none; }

.logo:hover {
  color: #888;
  text-decoration: none; }

.menu {
  float: right;
  margin-right: 20px; }

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .menu-list li {
    float: left; }
  .menu-list a {
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 20px;
    text-decoration: none; }
  .menu-list a:hover {
    color: #888; }
  .menu-list button {
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 20px;
    text-decoration: none; }
  .menu-list button:hover {
    color: #888; }

.main-container {
  background: url(../../assets/img/main3.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%; }

.main-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-align: center; }
  .main-content label {
    position: fixed;
    left: -9999px; }
  .main-content .main-copyright {
    font-size: 64px;
    height: auto;
    padding: 0;
    margin: 0 0 40px 0; }
  .main-content input {
    background-color: rgba(255, 255, 255, 0.8) !important;
    border: none !important;
    color: black !important;
    display: inline !important;
    font-size: 40px !important;
    height: 90px !important;
    text-align: center !important;
    width: 350px !important; }
  .main-content input:focus {
    outline: none; }

.step-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 80px 20px; }
  .step-list li {
    color: #a6a6a6;
    text-align: center; }
  .step-list li.current-step {
    color: #000; }
  .step-list .step-title {
    font-size: 18px; }

#input-conf-description {
  height: 80px; }

.track-info-title {
  text-align: center; }
  .track-info-title h4 {
    display: inline-block;
    font-size: 30px; }

.track-add-container {
  padding: 10px 0;
  text-align: right; }

.track-table label {
  position: fixed;
  left: -9999px; }
.track-table th,
.track-table td {
  text-align: center;
  vertical-align: middle !important; }
.track-table input {
  display: inline-block; }

.register-session-info {
  margin-top: 100px; }

.session-add-container {
  padding: 10px 0; }
  .session-add-container .select-day,
  .session-add-container .select-track {
    display: inline-block; }

.session-info-title {
  text-align: center; }
  .session-info-title h4 {
    display: inline-block;
    font-size: 30px; }

.session-add-container .select-track {
  display: inline-block; }
.session-add-container .add-session {
  float: right; }

.session-table {
  text-align: center; }
  .session-table label {
    position: fixed;
    left: -9999px; }
  .session-table td:nth-child(1) {
    width: 30%; }
  .session-table td:nth-child(2) {
    width: 40%; }
  .session-table td:nth-child(3) {
    width: 20%; }
  .session-table td:nth-child(4) {
    width: 10%; }

.admin-info-title h4 {
  display: inline-block; }
.admin-info-title .add-admin {
  float: right; }

.admin-table label {
  position: fixed;
  left: -9999px; }
.admin-table td:nth-child(1) {
  width: 50%; }
.admin-table td:nth-child(2) {
  width: 20%; }
.admin-table td:nth-child(3) {
  width: 30%; }

.step-move {
  margin: 50px 0;
  text-align: center; }

.register-modal {
  padding: 30px; }
  .register-modal .dropdown {
    margin-bottom: 15px; }

.conference-info {
  margin: 0 auto;
  padding: 70px 0;
  width: 70%; }

.conference-default-info {
  text-align: center;
  margin-bottom: 100px; }
  .conference-default-info .conference-name {
    font-size: 40px; }
  .conference-default-info .conference-description {
    color: #595959;
    font-size: 18px;
    margin-bottom: 40px; }
  .conference-default-info .conference-address {
    font-size: 21px; }
  .conference-default-info .conference-date {
    font-size: 18px; }
  .conference-default-info h3 {
    margin-bottom: 40px; }
    .conference-default-info h3 span {
      border-bottom: 1px solid black;
      padding-bottom: 7px; }

.conference-session-category {
  margin-bottom: 100px; }
  .conference-session-category .session-category-title {
    margin-bottom: 20px; }
  .conference-session-category .session-category {
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 1px 0;
    padding: 25px; }
    .conference-session-category .session-category label {
      margin-right: 20px; }

.conference-session-info .session-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
.conference-session-info li {
  border-top: 1px solid #e6e6e6; }
.conference-session-info .session-link {
  color: black;
  display: inline-block;
  height: 100%;
  padding: 15px 6px;
  text-decoration: none;
  width: 100%; }
.conference-session-info .session-link:hover {
  background-color: #c9c9c9; }

.session-info {
  margin: 0 auto;
  padding: 70px 0;
  width: 80%; }

/* PPT */
.session-ppt-section {
  padding: 20px 0;
  width: 100%; }
  .session-ppt-section .slide-img-container {
    height: 340px;
    width: 100%; }
  .session-ppt-section .slide-img {
    height: 100%;
    width: 100%; }
  .session-ppt-section .slide-control {
    background-color: black;
    color: white;
    position: relative;
    height: 50px;
    text-align: center; }
  .session-ppt-section .slide-nav {
    display: inline-block;
    height: 100%; }
  .session-ppt-section .slide-nav:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .session-ppt-section .slide-full {
    height: 100%;
    position: absolute;
    top: 0;
    right: 5px; }
  .session-ppt-section .slide-full:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }

/* 세션 정보 */
.session-info-section .session-info-title {
  font-size: 22px; }
.session-info-section .session-info-time {
  font-size: 15px;
  margin-left: 10px; }
.session-info-section .session-info-speaker img {
  height: 40px;
  width: 40px; }
.session-info-section .session-info-speaker .speaker-job {
  margin-left: 10px;
  color: #8c8c8c; }
.session-info-section .session-info-speaker .speaker-name {
  margin-left: 10px;
  font-size: 18px; }

/* 채팅창 */
.session-chat-section {
  background-color: white;
  width: 80%; }
  .session-chat-section .session-chat {
    padding: 20px 0; }
  .session-chat-section .chat-content-container {
    border: 1px solid black;
    height: 500px; }
  .session-chat-section .chat-input-container {
    border-color: black;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    height: 70px; }
  .session-chat-section .chat-input {
    float: left;
    height: 100%;
    padding: 10px;
    width: 70%; }
  .session-chat-section .chat-send-btn {
    float: left;
    width: 30%;
    height: 100%; }

/* 로그인 모달 */
.modal {
  text-align: center;
  padding: 0 !important; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  vertical-align: middle; }

.user-sign {
  padding: 30px; }

html {
  height: 100%; }

body {
  height: 100%;
  width: 100%; }

.route-view {
  height: 100%;
  width: 100%; }

.center-content {
  width: 60%;
  margin: 70px auto 0; }

button {
  background: none;
  border: none; }

button:focus {
  outline: none; }

input[type="text"],
input[type="email"],
textarea {
  background-color: #f5f5f5;
  border: none;
  display: block;
  font-size: 14px;
  height: 40px;
  padding: 6px 12px;
  resize: none;
  width: 100%; }

input:focus,
textarea:focus {
  outline: none; }

/*# sourceMappingURL=bass.css.map */
